td {
    padding: 3px 5px;
  }
  td:nth-child(2n) {
      background-color: #ccc;
  }
  td.Incomplete {
    background-color: #444;
    color: white;
  }
  td.title {
    display: flex;
    justify-content: space-between;
  }
  td.title a {
    display: inline-block;
    padding-left: 10px;
    color: white;
    background-color: darkcyan;
    font-weight: 900;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
  }

  tr.asleep-true {
    opacity: .4;
  }
  
  td.title a:hover {
    text-decoration: underline;
  }
  body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    margin: 0px;
  }

.site-header {
    margin-bottom: 20px;
}

.example {
    color: white;
    background-color: #b00b69;
}

fieldset {
  margin: 10px 0px;
}
fieldset label {
  display: block;
}
fieldset label input {
  display: block;
}
form {
  max-width: 600px;
  margin: 0 auto;
}

.reminder-card {
  display: flex;
}